.footer {
    position: relative;
    width: 1441px;
    margin: 0 auto;
    
}
body {
    font-family: utmAvo;
}


.footer-donors__silver h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 37px;

    color: #AEAEAE;
}

.distance {
    width: 1441px;
    margin: auto;
    display: flex;
    padding-top: 70px;
    align-items: center;
    justify-content:center;
}

.logo__dono {
    width: auto;
    padding: 0 8px;
}

.footer-donors__boder {
    margin-left: 420px;
    display: grid;
    margin-right: 120px;
    position: absolute;
    width: 70%;
    bottom: 7px;
    border-bottom: 1.5px solid rgb(33, 77, 130);

}

.distance-item {
    margin-right: 165px;
}

.footer-unit__distance {
    margin-top: 25px;
}

.footer-unit {
    margin-right: 40px;
}

.logo__dono-cancel {
    margin-right: 0 !important;
}

.pd-top {
    padding-top: 40px !important;
}



.background {
    background: #164C7E;
    display: flex;
    padding-bottom: 100px;
    margin-top: 10px;
    
}

.background_black {
    background-color: #111D2C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex {
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    
}

.pd-bottom {
    padding-bottom: 60px;
}

.mg-width {
    padding-top: 0 !important;
}

.distance-xl {
    width: 1441px;
    position: relative;
    margin: auto;
    display: flex;
    align-items: center;
    padding-top: 70px;
    justify-content: center;
    
}

.distance-m {
    margin-top: 50px;
}

.img-size {
    max-height: 80px;
    object-fit: cover;
    max-width: 110px;
}

.distance-bottom {
    margin-bottom: 70px;
}

.footer-donors {
    width: 1441px;
    margin: 0 auto;
    
}

.container-xl {
    width: 100%;
    max-width: 1441px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-donors__silver {
    margin-top: 50px;
}

.footer-donors__silver-img {
    /* width: 1441px;
    padding-left: 10px;
    margin-right: 30px; */
    padding: 0 3px;
    
}

.footer-donors__silver-img img {
    padding: 0 12px;
}

.footer-infomation {
    /* width: 1441px; */
    margin: 0 auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: 20px;
}
    

.footer-infomation__logo {
    padding-bottom: 20px;
}

.footer-infomation__panagrapt--item {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 30px;
    border-bottom: 1px solid #D3D3D3;
    /* width: 44%; */
}

.footer-infomation__panagrapt span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    margin-top: 15px;
    display: block;

}

.footer-rules {
    margin-top: 75px;
    margin-left: 85px;
    margin-right: 105px;
    display: none;
}

.footer-rules__pg {

}

.footer-rules__pg p {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    padding-bottom: 15px;
    border-bottom: 1px solid #D3D3D3;
}

.footer-rules__pg span {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #FFFFFF;
    display: block;
    margin-top: 10px;
   
}

.footer-input {
    margin-top: 62px;
    text-align: center;
    padding-left: 55px;
    width: 32%;
    display: none;
    
}

.footer-input__fill span {
    font-weight: 400;
    font-size: 14px;
    line-height: 130%;
    color: #FFFFFF;
    text-transform: uppercase;
    
    
}

.footer-input__fill {
    position: relative;
    margin-right: 134px;
}

.footer-input__icon {
    display: flex;
    align-items: center;
    justify-content:center;
}

.footer-input__fill-import {
    margin-top: 10px;
    background-color: #164C7E;
    outline: none;
    border: 2px solid #FFFFFF;
    padding: 11px 0;
    width: 100%;
    margin-bottom: 20px;
}

.footer-input__fill-btn {
    position: absolute;
    background-color: #164C7E;
    border: 1px solid #FFFFFF;
    right: 0;
    width: 13%;
    padding: 11px 0;
    top: 30px;
}

.footer-input__icon {
    margin-right: 95px;
}

.footer-input__icon a {
    padding-right: 16px;
   
}

.footer-title {
    /* display: flex;
    align-items: center;
    justify-content: center; */
    padding-top: 19px;
    padding-bottom: 21px;
}

.footer-title__panagrapt p {
    text-align: center;
    font-weight: 300;
    font-size: 17px;
    line-height: 21px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title__note span {
    text-align: center;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-logo {
    padding-top: 54px;
    margin-right: 182px;
}

.footer-logo__img {
    padding-bottom: 8px;
}

.footer-logo__panagrapt {

}

.footer-logo__panagrapt-different {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    text-align: justify;
    
    color: #FFFFFF;
    
}

.footer-logo__panagrapt-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    border-top: 1px solid #D3D3D3;
    color: #FFFFFF;
    padding-top: 18px;

}

.footer-logo__panagrapt-bold {
    font-size: 22px;
    font-weight: 700;
    color: #FFFFFF;
    display: block;
    padding-bottom: 10px;
}


