.header {
    background-color: #0071BB;
    padding-top: 14px;
    padding-bottom: 13px;

}

.header-top {
    margin-top: 5px;
}

.header-top__logo {
    display: flex;
    margin-left: 225px;
    align-items: center;
}

.header-top__menu-login,
.header-top__menu-resgeter {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-right: 30px;
}

.header-top__menu-login a {
    text-decoration: none;
    color: #fff;

}

.header-top__menu {
    display: flex;
    align-items: center;
    padding: 22px 0;
    justify-content: flex-end;
}

.header-top__menu-language {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header-top__menu-language img {
    margin-right: 10px;
    border: 0.5px solid #FFFFFF;
    border-radius: 2px;
}

.header-top__menu-language span {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #fff;
}

.header-top__menu-phone {
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.header-top__menu-phone a {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.9);
    margin-left: 10px;
    text-decoration: none;
}

.header-top__menu-icon {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.header-top__menu-icon a {
    padding-right: 14px;
}

/* header bottom */


.header-bottom {
    background: #B50014;
    padding-top: 16px;
    padding-bottom: 12px;
    /*test chức năng*/
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-below {
    display: flex;
    margin-left: 250px;
    margin-right: 230px;
    justify-content: space-between;
}

.header-below__menu {

}

.header-below__menu-list {
    display: flex;
    align-items: center;
    
}

.header-below__menu-item {
    list-style-type: none ;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 40px;
    text-transform: uppercase;
}

.header-below__menu-item-list a:hover {
    color: #FCD116;
}

.header-below__menu-item a {
    text-decoration: none;
    color: #FFFFFF;
}

.header-below__search {
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 23%;
    position: relative;

}

.header-below__search-input {
    width: 100%;
    height: 27px;
    border-radius: 2px;
    padding-left: 10px;
    border: none;
}

.header-below__search-button {
    border: none;
    position: absolute;
    background-color: #0071BB;
    padding: 4px 0;
    width: 50px;
    display: flex;
    justify-content: center;
}