.remove {
    display: none;
}

.header-login {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    
}

.header-bottom {
    padding-top: 6px;
    padding-bottom: 4px;
}

.mr {
    margin-top: 0;
    margin-right: 0!important;
}

.header-new {
    display: block;
    padding-bottom: 0;
    padding-top: 0;
}

.header-below__search-button {
    top: -28px;
    background: rgba(255, 255, 255, 0.78);
    border-radius: 5px;
}

.header-below__avarta {
    position: relative;
}

.header-below__message {
    margin-right: 16px;
    margin-left: 43px;
}

.header-below__notifi {
    right: 496px !important;
    top: 16px !important;
}



.header-bottom__input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-below__menu-item {
    margin-right: 50px;
}

.header-below__icon {
    padding-right: 54px;
}

.header-top__menu-login a {
    padding-top: 9px;
}


.header-top__menu-login span {
    padding: 10px;
}

.line-apartment {
    justify-content: unset;
}

.position {
    left: -36px;
}

.ci-container{
    width: 100%;
    max-width:1440px;
    margin: 0 auto;
}
.header-bottom_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.header-bottom_menu .header-below {
    width: auto;
}
.header-below__search {
    width: auto;
    margin: 0;
    display: block;
}
.header-below__notifi {
    display: flex;
    align-items: center;
}
.header-below__search-button {
    border: none;
    position: relative;
    background: rgba(255, 255, 255, 0.78);
    padding: 4px 16px;
    width: auto;
    display: block;
    top: 0 !important;
    left: 0 !important;
}

.header-below__avarta-list {
    position: absolute;
    background: #FFFFFF;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);
    top: 46px;
    width: 170%;
    left: -153px;
    padding-top: 20px;
    display: none;
    z-index: 11;
}

.header-below__avarta:hover .header-below__avarta-list {
    display: block;
}

.header-below__avarta-panagrapt h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #808080;

}

.header-below__avarta-panagrapt {
    margin-left: 25px;
}

.header-below__avarta-list li {
    list-style-type: none;
}

.header-below__avarta-item img {
    margin-left: 32px;
}

.header-below__avarta-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #878787;
}

.header-below__avarta-id {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #177DDC;
}

.header-below__avarta-item {
    display:flex;
    align-items: center;
    padding-bottom: 20px;
    
}

.header-below__avarta-file {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 30px 17px 35px;
    background: #F0F0F0;
}

.header-below__avarta-edit {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding: 16px 30px 50px 35px;
}


.header-below__avarta-power {
    display: flex;
    align-items: center;
    margin-right: 19px;
    margin-left: 35px;
    border-top: 1px solid  #ADADAD;
    padding-top: 20px;
    padding-bottom: 40px;
}

.header-below__avarta-power span {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #666666;
    display:block;
    margin-left: 18px;
}


