* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 13px;
  font-weight: 300;
  margin: 0;
  padding: 0;
  line-height: inherit;
}

input,
button,
textarea {
  font-family: inherit;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Regular.ttf);
}
body {
  font-family: Poppins;
  font-weight: 400;
}
