.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1111;
  .bg {
    width: 100%;
    height: 100%;
    background: rgba(24, 44, 68, 0.61);
  }
  .box-login {
    width: 541px;
    height: 744px;
    background: #fff;
    z-index: 1111;
    position: fixed;
    top: 206px;
    right: 161px;
    padding: 27px 32px 53px 32px;
    p.title {
      font-weight: 600;
      font-size: 56px;
      line-height: 84px;
      color: #177ddc;
      text-align: left;
      margin-bottom: 27px;
    }

    form {
      label {
        padding-left: 12px;
        width: 100%;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        margin-bottom: 2px;
        color: #1c4d86;
      }
      input {
        background: rgba(28, 77, 134, 0.15);
        border-radius: 4px;
        padding: 12px 18px;
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        border: none;
        color: #000000;
      }

      .btn {
        width: 100%;
        display: flex;
        padding: 0;
        .btn-login {
          background: #0071bb;
          box-shadow: 0px 0px 30px rgba(99, 122, 48, 0.4);
          border-radius: 4px;
          width: 100%;
          height: 46px;
          border: none;
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          color: #fff;
          transition: all 0.5s;
          margin-bottom: 42px;
          &:hover {
            box-shadow: 0px 0px 10px #1c4d86;
          }
        }
      }
      .back-to-login {
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        margin-bottom: 61px;
        cursor: pointer;
      }
      .btn-register {
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: rgba(0, 0, 0, 0.7);
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 42px auto;
        p {
          cursor: pointer;
        }
      }
      p.note {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.03em;
        color: rgba(0, 0, 0, 0.7);
      }
    }
  }
}
