* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}
/* banner */
.main__banner {
    display: flex;
}

.main__banner-img {
    width: 70%;
}

.main__banner-right {
    display: flex;
    flex-direction: column;
}

.banner__right-img {
    height: 281px;
}

/* Notifications */
.container__noti {
    padding: 70px 0 100px;
    background: #fff;   
}

.container__noti-drec {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #177DDC;
}

.container__courses-slide,
.container__noti-left,
.courses__bottom-slide {
    display: flex;
}

.container__noti-img {
    margin-right: 90px;
}

.container__noti-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #101010;
    margin-bottom: 10px;
    display: block;
}

.container__noti-content {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #404040;
}

.container__noti-see-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #3BB44A;
}

/* Data science */
.container__data {
    background: #F6F6F6;
    padding-bottom: 90px;
}

.container__data-drec {
    padding: 68px 0 34px;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #177DDC;
}

.content__left {
    width: 25%;
}

.content__right {
    width: 75%;
}

.content__right-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.container__header-top {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
    border-bottom: 1px solid #D3D4D8;
    margin-bottom: 27px;
}

.container__header-heading {
    font-size: 22px;
    line-height: 18px;
    color: #737373;
    text-transform: uppercase;
}

.container__header-heading--color {
    color: #164C7E;
    font-weight:700;    
    margin-right: 50px;
}

.container__header-search {
    flex: 1;
    background-color: #F3F3F3;
    height: 44px;
    border-radius: 2px;
    display: flex;
    border: 1px solid #177DDC;
    align-items: center;
}

.header__search-input-wrap {
    flex: 1;    
    display: flex;
    padding: 0px 25px;
    align-items: center;
}

.header__search-icon {
    font-size: 25px;
}

.header__search-input {
    width: 100%;
    border: none;
    background: #F3F3F3;
    padding-left: 20px;
    outline: none;
}

.header__search-btn {
    margin-right: 10px;
    padding: 9px 38px;
    background: #177DDC;
    border-radius: 2px;
    border: none;
    color: #fff;
}

.container__search-info {
    background:#fff;
    margin-top: 5px;
    box-shadow: 0px 8px 16px rgba(35, 38, 59, 0.25);
    height: 400px;
    left: calc(50% - 1083px/2 + 162.5px);
    top: 1781px;
}

.container__search-content {
    display: flex;
    padding: 24px 16px;
}

.container__search-left {
    width: 33.3334%;
}

.search__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #91929D;
}

.search__history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

.search__history-text {
    padding: 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #23263B;
}

.search__history-icon {
    margin-right: 5px;
    padding: 5px;
}

.search__access {
    margin-top: 10px;
}

.search__access-btn {
    padding: 10px;
    margin: 5px 1px;
    background: #F4F4F5;
    border: 1px solid #D3D4D8;
    border-radius: 2px;
    font-weight: 400;
    font-size: 12px;
    line-height: 140%;
    color: #23263B;
}

.container__search-right {
    width: calc(100% - 33.3334%);
    margin-left: 5px;
}

.search__img {
    margin-top: 10px;
}

.search__img-item {
    width: 31%;
    margin: 0px 6px;
}
/* list courses */
.container__courses {
    padding: 56px 0;
    background-color: #fff;
}

.container__courses-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.container__courses-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 235px;
}

.courses-list-item {
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    margin-right: 5px;
    color: #101010;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    padding: 10px 18px;
}

.courses-list-item--color {
    background:#177DDC;
    border-radius: 2px;
    color: #FFFFFF;
}

.container__courses-btn {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.container__courses-btn--color {
    color: #A2A2A2;
}

.courses__content {
    display:flex;
    flex-wrap: wrap;
}

.courses__content-info {
    width: 25%;
}

.container__courses-columns {
    border: 1px solid #fff;
    box-shadow: 0 1px 3px rgb(189 189 189);
    border-radius: 4px;
    margin:0 40px 40px 0;
    display: block;
}

.container__courses-product {
    margin: 25px;
}

.container__courses-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__courses-eye {
    padding: 5px 12px;
    background: #F47000;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.container__courses-text {
    font-size: 14px;
    color: #FFFFFF;
}

.container__courses-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}

.container__courses-heart {
    color: #A2A2A2;
    padding: 5px;
    font-size: 20px;
}

.courses-img {
    width: 255px;
    margin: 25px 0;
}

.container__courses-drec {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #101010;
    min-height: 50px;
}

.container__courses-name {
    padding: 25px 0 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #A2A2A2;
}

.container__courses-place {
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #A2A2A2;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.container__courses-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.courses__footer-drec {
    background: #177DDC;
    border-radius: 2px;
    color: #fff;
    padding: 12px 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

/* evaluate */
.container__highlights {
    background: #EBEBEB;
    padding: 75px 0;
}

.container__highlights-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #177DDC;
    padding-bottom: 100px;
    text-transform: uppercase;
}

.container__highlights-list {
    display: flex;
    justify-content: space-between;
}

.container__highlights-block {
    margin-bottom: 50px;
    position: relative;
}

.container__highlights-img {
    width: 304px;
}

.container__highlights-content {
    margin: 10px 0;
}

.container__highlights-drec {
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.container__highlights-name {
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
}

.container__highlights-evaluate {
    display: flex;
    justify-content: space-between;
}

.container__evaluate-text {
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}

/* video */
.container__video-icon-play {
    position: absolute;
    top: 28%;
    right: 43%;
}

.container__video-info {
    margin: 30px 0 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100.9%;
    color: #393939;
}

.container__video-drec {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #393939;
}

/* Ads */
.container__ads {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    background-color: #C4C4C4;
    height: 615px;
    align-items: center;
    width: 189px;
    justify-content: center;
    position: absolute;
    top: 34%;
    right: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}