.main {
    background: #F2F4F5;
}

.banner {
    position: relative;
}

.banner__img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__text {
    position: absolute;
    top: 30%;
    left: 42%;
    font-weight: 700;
    font-size: 60px;
    line-height: 80px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgb(0 0 0 / 25%);
    text-transform: uppercase;
}

.list__menu {
    margin: 10px 0 20px;
}

.main__text {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}

.main__text:last-child {
    color: rgba(0, 0, 0, 0.85);
}

.content {
    display: flex;
}

/* container-left */
.container__left {
    background: #FFFFFF;
    padding: 0 10px;
    max-height: 1111px;
    width: 25%;
    margin-right: 30px;
}

.container__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #A4A4A4;

}

.container__header-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #F58634;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 1px solid #F65050;
}

.container__header-icon {
    font-size: 30px;
    padding: 10px;
}

.container__block-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 10px;
    cursor: pointer;
}

.container__block-list--border {
    border-bottom:1px solid #A4A4A4;
}

.container__block-list--change {
    padding: 15px 10px 15px 19px;
}

.container__list-left {
    display: flex;
    align-items: center;
}

.container__list-icon {
    font-size: 25px;
    margin-right: 10px;
}

.container__list-class {
    font-size: 20px;
    line-height: 111.1%;
    color: #393939;
}

.container__list-right {
    padding: 10px;
    color: #fff;
    min-width: 45px;
    min-height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container__list-right--red {
    background: #F65050;
}

.container__list-right--purple {
    background: #A56CBD;
}

.container__list-right--violet {
    background: #C23785;
}

.container__list-dark--blue {
    background: #4C60F5;
}

.container__list--light-blue {
    background: #0088FF;
}

.container__list-right--pink {
    background: #F7679D;
}

.container__list-right--light-blue {
    background: #42C0F5;
}

.list__courses-item {
    display: flex;
    align-items: center;
    max-width: 225px;
    text-align: center;
    margin: 10px auto;
    cursor: pointer;
}

.list__courses-item--color {
    background: #EEF2F5;
}

.list__courses-drec {
    font-size: 15px;
    line-height: 111.9%;
    color: #2D2D2D;
    margin: 0 5px;
}

.list__courses-drec--color {
    font-weight: 700;
}   

.container__content-block {
    background: #E5E5E5;
    margin: 0 -10px;
    padding-bottom: 10px;
}   

.list__courses-text {
    color: #f47000;
}

.container__block-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #8E8E8E;
}

/* container-right */
.container__right {
    padding: 40px 40px 58px;
    margin-bottom: 80px;
    background: #FFFFFF;
    width: 75%;
}

.container__introduce-drec {
    font-weight: 700;
    font-size: 24px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #177DDC;
    margin-bottom: 10px;
}

.container__introduce-text {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    color: #000000;
}

.container__content {
    margin: 26px 0 40px;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
}

.container__slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 40px;
}

.container__slide-img {
    margin-top: -35px;
}

.main__content-heading {
    font-size: 20px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: justify;
    color: #000000;
    text-indent: 50px;
}

.main__content-heading:first-child,
.main__content-heading:last-child {
    text-indent: 0;
}

.container__second-content {
    margin: 50px 0;
}

.container__content-second {
    margin-top: 25px;
}

.container__box {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 25px;
}

.container__box-heading {
    position: absolute;
    top: 155px;
    left: 145px;
    font-size: 22px;
    line-height: 22px;
    color: #000000;
    text-align: center;
    max-width: 161px;
}

.container__parameter {
    margin: 37px 0 100px;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.container__companion-content {
    font-size: 18px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 32px 0 81px;
}

.container__companion-img {
    width: 1000px;
}
