* {
    margin: 0;
    padding: 0;box-sizing: border-box;
}

.main {
    position: relative;
}

/* Notifications */
.container__noti {
    margin: 70px 0 100px;
}

.container__noti-drec {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #164C7E;
}

.container__courses-slide,
.container__noti-left,
.courses__bottom-slide {
    display: flex;
}

.container__noti-img {
    margin-right: 90px;
}

.container__noti-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    color: #101010;
    margin-bottom: 10px;
    display: block;
}

.container__noti-content {
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 130%;
    color: #404040;
}

.container__noti-see-more {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #3BB44A;
}

/* Data science */
.container__data {
    background: #F6F6F6;
}

.container__data-drec {
    padding: 100px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    color: #101010;
}

.container__data-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.container__data-list {
    margin-top: 50px;
}

.container__data-item {
    font-weight: 400;
    font-size: 24px;
    line-height: 33px;
    color: #A2A2A2;
    padding: 5px 0;
    margin: 5px 0;
}

.container__data-item--color {
    color: #101010;
    text-decoration: underline;
}

.container__data-img:first-child {
    margin-right: 30px;
}

/* list courses */
.container__courses {
    margin: 70px 0 40px;
}

.container__courses-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
}

.container__courses-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 170px;
}

.courses-list-item {
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    margin-right: 5px;
    color: #101010;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
    padding: 10px 18px;
}

.courses-list-item--color {
    background: #164C7E;
    border-radius: 2px;
    color: #FFFFFF;
}

.container__courses-btn {
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
}

.container__courses-btn--color {
    color: #A2A2A2;
}

.container__courses-columns {
    border: 1px solid #fff;
    box-shadow: 0 1px 3px rgb(189 189 189);
    border-radius: 4px;
    margin-bottom: 40px;
    display: block;
}

.container__courses-product {
    margin: 25px;
}

.container__courses-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__courses-eye {
    padding: 5px 12px;
    background: #F47000;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.container__courses-text {
    font-size: 14px;
    color: #FFFFFF;
}

.container__courses-icon {
    font-size: 20px;
    margin-right: 5px;
    color: #fff;
}

.container__courses-heart {
    color: #A2A2A2;
    padding: 5px;
    font-size: 20px;
}

.courses-img {
    width: 255px;
    margin: 25px 0;
}

.container__courses-drec {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #101010;
    min-height: 50px;
}

.container__courses-name {
    padding: 25px 0 12px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #A2A2A2;
}

.container__courses-place {
    padding-bottom: 25px;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.02em;
    color: #A2A2A2;
    border-bottom: 1px solid;
    margin-bottom: 20px;
}

.container__courses-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
}

.courses__footer-drec {
    background: #164C7E;
    border-radius: 2px;
    color: #fff;
    padding: 12px 45px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.02em;
}

/* evaluate */
.container__highlights {
    background: #EBEBEB;
    padding: 75px 0;
}

.container__highlights-text {
    font-weight: 700;
    font-size: 40px;
    line-height: 110%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #164C7E;
    padding-bottom: 100px;
    text-transform: uppercase;
}

.container__highlights-list {
    display: flex;
    justify-content: space-between;
}

.container__highlights-block {
    margin-bottom: 50px;
    position: relative;
}

.container__highlights-img {
    width: 304px;
}

.container__highlights-content {
    margin: 10px 0;
}

.container__highlights-drec {
    font-weight: 700;
    font-size: 17px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
}

.container__highlights-name {
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: rgba(0, 0, 0, 0.7);
    margin: 10px 0;
}

.container__highlights-evaluate {
    display: flex;
    justify-content: space-between;
}

.container__evaluate-text {
    margin-left: 3px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.45);
}

/* video */
.container__video-icon-play {
    position: absolute;
    top: 28%;
    right: 43%;
}

.container__video-info {
    margin: 30px 0 7px;
    font-weight: 400;
    font-size: 12px;
    line-height: 100.9%;
    color: #393939;
}

.container__video-drec {
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #393939;
}

/* Ads */
.container__ads {
    font-family: 'Inter';
    font-style: normal;
    display: flex;
    background-color: #C4C4C4;
    height: 615px;
    align-items: center;
    width: 189px;
    justify-content: center;
    position: absolute;
    top: 34%;
    right: 0;
    font-weight: 700;
    font-size: 22px;
    line-height: 140%;
    color: #FFFFFF;
}