<div class="container__courses">
  <div class="app__container">
      <div class="container__courses-block">
          <ul class="container__courses-list">
              <li class="container__courses-link container__courses-link--color">
                  <a href="" class="courses-list-item courses-list-item--color">Bài giảng nổi bật</a>
              </li>
              <li class="container__courses-link">
                  <a href="" class="courses-list-item">Bài giảng được bình chọn nhiều</a>
              </li>
              <li class="container__courses-link">
                  <a href="" class="courses-list-item">Bài giảng chọn lọc</a>
              </li>
              <li class="container__courses-link">
                  <a href="" class="courses-list-item">Bài giảng mới nhất</a>
              </li>
              <li class="container__courses-link">
                  <a href="" class="courses-list-item">Bài giảng mẫu</a>
              </li>
          </ul>

          <div class="container__courses-slide">
              <div class="container__courses-btn container__courses-btn--color">
                  <i class="far fa-angle-left"></i>
              </div>
              <div class="container__courses-btn">
                  <i class="far fa-angle-right"></i>
              </div>
          </div>
      </div>

      <div class="grid-container">
          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-1.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI HỌC MÔN HÓA VÀ CÁCH THỰC HÀNH</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-2.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI GIẢNG CÁC HÌNH HỌC MÔN TOÁN KHỐI LỚP 9
                          </div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-3.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">NỘI DUNG TIÊU ĐỀ</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-4.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI HỌC VỀ ĐỊNH LUẬT VẠN VẬT HẤP DẪN</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-1.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI HỌC MÔN HÓA VÀ CÁCH THỰC HÀNH</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-2.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI GIẢNG CÁC HÌNH HỌC MÔN TOÁN KHỐI LỚP 9
                          </div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-3.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">NỘI DUNG TIÊU ĐỀ</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="courses__content-info">
              <div class="container__courses-columns">
                  <div class="container__courses-product">
                      <div class="container__courses-view">
                          <div class="container__courses-eye">
                              <i class="container__courses-icon far fa-eye"></i>
                              <span class="container__courses-text">5000</span>
                          </div>
                          <div class="container__courses-heart">
                              <i class="far fa-heart"></i>
                          </div>
                      </div>
                      <img src="../assets/img/product-4.png" alt="" class="courses-img">
                      <div class="container__courses-content">
                          <div class="container__courses-drec">BÀI HỌC VỀ ĐỊNH LUẬT VẠN VẬT HẤP DẪN</div>
                          <div class="container__courses-name">Cô Họ Và Tên</div>
                          <div class="container__courses-place">THCS Nguyễn ĐÌnh Chiểu, Địa chỉ trường PHường,
                              Quận, TP</div>
                          <div class="container__courses-bottom">
                              <a href="" class="container__noti-see-more">
                                  xem chi tiết
                              </a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>

      <div class="container__courses-footer">
          <div class="courses__footer-btn">
              <a href="" class="courses__footer-drec">Xem tất cả 40.000 bài giảng</a>
          </div>
      </div>
  </div>
</div>
