<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container__data">
        <div class="app__container">
          <h2 class="container__data-drec">KHO THIẾT BỊ DẠY SỐ</h2>
      
          <div class="content">
            <div class="container__left">
              <div class="container__header">
                <span class="container__header-text">Học liệu số</span>
                <i class="container__header-icon fas fa-angle-down"></i>
              </div>
      
              <div class="container__block">
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Nhà trẻ</div>
                  </div>
                  <div class="container__list-right container__list-right--red">
                    50
                  </div>
                </div>
      
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Lớp 3 tuổi</div>
                  </div>
                  <div class="container__list-right container__list-right--purple">
                    55
                  </div>
                </div>
      
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Lớp 4 tuổi</div>
                  </div>
                  <div class="container__list-right container__list-right--violet">
                    40
                  </div>
                </div>
      
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Lớp 5 tuổi</div>
                  </div>
                  <div class="container__list-right container__list-dark--blue">
                    10
                  </div>
                </div>
      
                <div class="container__content-block">
                  <div class="container__block-list container__block-list--change">
                    <div class="container__list-left">
                      <i class="container__list-icon fal fa-angle-down"></i>
                      <div class="container__list-class">Lớp 1</div>
                    </div>
                    <div class="container__list-right container__list--light-blue">
                      80
                    </div>
                  </div>
      
                  <div class="container__list-courses">
                    <div class="list__courses-item list__courses-item--color">
                      <img src="./assets/img/course1.png" alt="" class="list__courses-img" />
                      <span class="list__courses-drec list__courses-drec--color">Tiếng Anh</span>
                      <span class="list__courses-text">(65)</span>
                    </div>
      
                    <div class="list__courses-item">
                      <img src="./assets/img/course2.png" alt="" class="list__courses-img" />
                      <span class="list__courses-drec">Tiếng Việt</span>
                      <span class="list__courses-text">(5)</span>
                    </div>
      
                    <div class="list__courses-item">
                      <img src="./assets/img/course3.png" alt="" class="list__courses-img" />
                      <span class="list__courses-drec">Toán Học</span>
                      <span class="list__courses-text">(10)</span>
                    </div>
                  </div>
                </div>
      
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Lớp 2</div>
                  </div>
                  <div class="container__list-right container__list-right--pink">
                    5
                  </div>
                </div>
      
                <div class="container__block-list">
                  <div class="container__list-left">
                    <i class="container__list-icon fal fa-angle-right"></i>
                    <div class="container__list-class">Lớp 3</div>
                  </div>
                  <div class="container__list-right container__list-right--light-blue">
                    67
                  </div>
                </div>
              </div>
            </div>
      
            <div class="content__right">
              <div class="container__header-top">
                <div class="container__header-heading container__header-heading--color">tìm kiếm nhanh</div>
                <div class="container__header-heading">tìm kiếm nâng cao</div>
              </div>
      
              <div class="container__header-search">
                <div class="header__search-input-wrap">
                  <i class="header__search-icon fal fa-search"></i>
                  <input type="text" placeholder="Search products, articles, faq, ..." class="header__search-input">
                </div>
                <button class="header__search-btn">Search</button>
              </div>
      
              <div class="container__search-info">
                <div class="container__search-content">
                  <div class="container__search-left">
                    <span class="search__text">Tìm kiếm của bạn</span>
                    <div class="search__history">
                      <div class="search__history-text">
                        <i class="search__history-icon fal fa-sync-alt"></i>
                        Chương trình toán lớp 8
                      </div>
                      <i class="search__history-icon fal fa-times"></i>
      
                    </div>
      
                    <div class="search__history">
                      <div class="search__history-text">
                        <i class="search__history-icon fal fa-sync-alt"></i>
                        Hóa học 12
                      </div>
                      <i class="search__history-icon fal fa-times"></i>
      
                    </div>
      
                    <div class="search__history">
                      <div class="search__history-text">
                        <i class="search__history-icon fal fa-sync-alt"></i>
                        Sinh học
                      </div>
                      <i class="search__history-icon fal fa-times"></i>
      
                    </div>
                    <span class="search__text">Truy cập phổ biến</span>
                    <div class="search__access">
                      <button class="search__access-btn">Ngữ văn 12</button>
                      <button class="search__access-btn">Toán nâng cao</button>
                      <button class="search__access-btn">Hoá học nâng cao</button>
                      <button class="search__access-btn">Tiếng anh học thuật</button>
                      <button class="search__access-btn">IELTS</button>
                    </div>
                  </div>
                  <div class="container__search-right">
                    <span class="search__text">Truy cập nhanh</span>
                    <div class="search__img">
                      <img src="../assets/img/literary.png" alt="" class="search__img-item">
                      <img src="../assets/img/math.png" alt="" class="search__img-item">
                      <img src="../assets/img/English.png" alt="" class="search__img-item">
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      
    
</body>
</html>